/* General Reset */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Arial, sans-serif; /* Default font for the page */
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f4eae2;
}

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4eae2;
}

.image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.center-image {
    width: 500px;
    height: 500px;
    object-fit: contain;
}

/* Contact Section */
.contact-section {
    padding: 20px;
    text-align: center;
    font-family: 'Arimo', sans-serif; /* Applying Arimo font */
    background-color: #f4eae2;
}

.contact-section h2 {
    margin-bottom: 15px;
}

.contact-section ul {
    display: inline-block;
    text-align: left;
}

.contact-section li {
    margin-bottom: 10px;
}

.contact-section a {
    color: #007BFF;
    text-decoration: none;
}

.contact-section a:hover {
    text-decoration: underline;
}

.social-icon {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}






.gallery-preview {
    text-align: center;
    margin: 40px 0;
}

.gallery-link {
    display: inline-block;
    padding: 15px 30px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s;
}

.gallery-link:hover {
    background-color: #0056b3;
}

.preview-images {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.preview-container {
    width: 300px;
    height: 200px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.preview-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.preview-container:hover img {
    transform: scale(1.05);
}




/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: white;
}
